<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagbb>
            <onlinedebit>
                <active>1</active>
                <model>Techspot\PagBB\Model\PagBB\OnlineDebit</model>
                <order_status>pending</order_status>
                <title>Online Debit</title>
                <allowspecific>0</allowspecific>
                <group>Online</group>
            </onlinedebit>
        </pagbb>
    </default>
</config>